/* Navbar mobile */
.navbar-mobile
{
    cursor: pointer;
    display: none;
    float: right;
    margin-top: -40px;
    margin-right: 10px;
}

.navbar-mobile div
{
    width: 29px;
    height: 2px;
    background-color: #18232c;
    margin: 8px;
}

                /* Menu responsive */
@media (max-width: 750px){
    .navbar-mobile
    {
        display: block;
    }
}
