/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Raleway:wght@500&family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Amsi';
    src: url('/home/dienifersiqueira/Landing-Page/Typography/AmsiPro-Black.otf');
}

body
{
    overflow-x: hidden;
    background-image: url(/home/dienifersiqueira/Landing-Page/Imagens/mate-bg.png);
    background-size: 53%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
}

/* Header da página */
header
{
    margin: -1% 4%;
    padding-bottom: 4px;
}

header h1{
    font-family: 'Amsi';
    color: #18232c;
    font-weight: bolder;
    font-size: 1.5em; /* 24px - Nesse caso*/
    margin-left: -3%;
}

header span{
    font-size: 1.6em;
    color: #E7AA3C;
    padding: 0%;
    position: relative;
    top: 2px;
}


/* Responsividade */
@media (max-width: 600px){
    navbar
    {
        display: none;
    }
    .Redes-sociais
    {
        margin-top: -34px;
    }
    .Texto-conteudo
    {
        position: relative;
        top: -40px;
    }
    .Texto-conteudo h1
    {
        font-size: small;
    }
    .Texto-conteudo h2
    {
        position: relative;
        left: -45px;
    }
    #Como-hacerlo-conteudo
    {
        margin-left: 9px;
    }
    #titulo-mate-amargo
    {
        position: relative;
        left: -29px;
    }
}

@media (max-width: 750px){
    navbar
    {
        display: none;
    }
}

/* Content*/
.Texto-conteudo p{
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    color: #18232c; 
    width: 23%;
    max-width: 980px;
    min-width: 200px;
    margin-top: 170px;
    margin-left: 8.5%;
    transform: scale(1.6);
}

#titulo-mate-amargo
{
    font-family: 'Amsi';
    color: #18232c;
    font-size: 1.7em;
    align-items: center;
    position: absolute;
    margin-top: 40px;
    margin-left: 1.7%;
    float: left;
    padding: 6px 20px;
    cursor: pointer;
}


/* Borda animada */
.Texto-conteudo h1::before
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
}

.Texto-conteudo h1:hover::before
{
    animation: animate 1s linear forwards;
}

@keyframes animate
{
    0%
    {
        width: 0;
        height: 0;
        border-top-color: #18232c;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%
    {
        width: 100%;
        height: 0;
        border-top-color: #18232c;
        border-right-color: #18232c;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100%
    {
        width: 100%;
        height: 100%;
        border-top-color: #18232c;
        border-right-color: #18232c;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.Texto-conteudo h1::after
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
}

.Texto-conteudo h1:hover::after
{
    animation: animate2 1s linear forwards;
}

@keyframes animate2
{
    0%
    {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color:  #18232c;
    }
    50%
    {
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color:  #18232c;
        border-left-color:  #18232c;
    }
    100%
    {
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color:  #18232c;
        border-left-color:  #18232c;
    }
}


.Texto-conteudo h2{
    
    color: #E7AA3C;
    font-family: 'Amsi';
    font-size: 1.4em;
    letter-spacing: 6px;
    float: left;
    position: absolute;
    margin-top: 120px;
    margin-left: 1.4%;
    cursor: pointer;
}

/* Efeito de linha abaixo do titulo quando
o mouse é posicionado, no mesmo. */

.Texto-conteudo h2:after
{
    content: "";
    position: absolute;
    background-color: #d3992d;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.5s; 
}

.Texto-conteudo h2:hover:after
{
    width: 97%;
}

#Como-hacerlo-conteudo
{
    color: #18232c;
    margin-top: 190px;
    padding-bottom: 25px;
    min-width: 155px;
}


/* Redes Sociais */
.Redes-sociais img
{
    margin: 4px;
    position: relative;
    left: 16px;
}

main{
    margin-left: 50px;
    margin-top: 22px;
}